[submodule "resources/citationStyles"]
	path = resources/citationStyles
	url = https://github.com/citation-style-language/styles
[submodule "resources/citationLocales"]
	path = resources/citationLocales
	url = https://github.com/citation-style-language/locales
[submodule "client"]
	path = client
	url = https://github.com/medialab/fonio
